@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: #16181d;
}

#container {
  padding-left: 20px;
  padding-right: 20px;
}

#bio-card {
  border-radius: 30px;
  margin-top: 30px;
}

#bio-card button {
  margin-top: 15px;
  border-radius: 64px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 10px 15px;
  transition-duration: 0.2s;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

#bio-card button:hover {
  background-color: #fff;
  color: #2f3136;
}

.card {
  color: #fff;
  border-radius: 30px;
  padding: 15px;
}

#project-tag {
  padding: 5px 32px;
}

footer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
